:root{
    --anniversary: #d9c051;
    --white: #fff;
    --black: #000;
    --lightGrey: #d7d2d6;
    --grey: #959491;
    --darkAnniversary: #b1982c;
    --dark: #1a192f;
}

@font-face{
    
    font-family: '50-Aniv';
    src: url('../fonts/isocpeur.ttf') format('truetype');
    
}

html{
    font-size: 62.5%;
    box-sizing: border-box;
    font-family: '50-Aniv', sans-serif;
}

*, *:before, *:after {  
    box-sizing: inherit;
}

body{
    font-size: 16px;
    /*background-color: var(--lightGrey);*/
}

h1{
    font-size: 3.8rem;
}

h2{
    font-size: 2.8rem;
}

h3{
    font-size: 1.8rem;
}

h1,h2,h3{
    text-align: center;
}

header{
    height: 100vh;
}

.fondo{
    background-image: url(/img/header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    position: relative;
}

.title{
    /*background-color: #d9c051;
    background-color: var(--dark);*/
    background-color: rgba(26, 25,47 ,0.70);
    margin: auto;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--white);
    height: 100%;
}

.contenedor-arquis{
    max-width: 80rem;
    margin-top: 4rem;
    margin: auto 2rem auto 2rem;
    display: flex;
    flex-direction: column;
    align-content: center;
}

@media (min-width: 768px) {
    .contenedor-arquis{
        margin: auto;
        display: grid;
        grid-template-columns: 50% 50%;
        column-gap: 5rem;
    }
}

.arqui{
    border-radius: 1.5rem;
    background-color: var(--lightGrey);
    text-align: center;
}