:root{
    --anniversary: #d9c051;
    --white: #fff;
    --black: #000;
    --lightGrey: #d7d2d6;
    --grey: #959491;
    --darkAnniversary: #b1982c;
    --dark: #1a192f;
}

html{
    font-size: 62.5%;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

*, *:before, *:after {  
    box-sizing: inherit;
}

body{
    font-size: 16px;
    background-color: var(--lightGrey);
}

h1{
    font-size: 3.8rem;
}

h2{
    font-size: 2.8rem;
}

h3{
    font-size: 1.8rem;
}

h1,h2,h3{
    text-align: center;
}

header{
    background-color: var(--dark);
}

.header{
    /*background-color: #d9c051;
    background-color: var(--dark);*/
    margin: auto 2rem 1.2rem 2rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

@media (min-width: 768px) {
    .header{
        display: grid;
        grid-template-columns: 10% 53% 37%;
        grid-template-rows: auto auto auto;
        column-gap: 10px;
    }

    .logo-50{
        background-image: url(../img/50-anos.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        height: 100%;
        position: relative;
        grid-row: 1 / 4;
        grid-column: 1 / 2;
    }
    
    .header-title{
        grid-row: 1 / 4;
        grid-column: 2 / 3;
    }
    
    .header-nav{
        grid-row: 2 / 3;
        grid-column: 3 / 4;
    }
}

.header-title{
    color: var(--anniversary);
}

.nav{
    display: flex;
    flex-direction: column;
}

.nav-content{
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    padding: 1rem;
    font-weight: 600;
    color: var(--anniversary);
    font-size: 1.6rem;
}

.nav-content:hover{
    text-decoration: underline;
    color: var(--darkAnniversary);
}

.nav--seleccionado{
    text-decoration: underline;
    color: var(--grey);
}

@media (min-width: 768px) {
    .nav{
        flex-direction: row;
        justify-content: space-around;
    }
}

.contenedor-texto{
    max-width: 120rem;
    justify-content: center;
    margin: 2rem auto 2rem auto;
    padding: 2rem;
    background-color: #c7c2c6;
    border-radius: 1rem;
}

.contenedor-texto h2{
    text-transform: uppercase;
}

.contenedor-texto p{
    max-width: 100rem;
    text-align: justify;
    margin: auto;
    padding: 1rem;
}